In [1]:
import pandas as pd

In [2]:
sced_master_list_file = "../data/SCEDMasterList_v7.0_508.xlsx"
sced_v7_file = "../data/SCED_Version_7_FINAL_508.xlsx"

In [3]:
# Read files
# Make sure to tell pandas which columns are SCED codes to prevent casting as INTs which trims leading zeros
sced_master_df = pd.read_excel(sced_master_list_file, 
                               sheet_name=["Recodes", "SCED Master List", "Archived"],
                               converters={"Initial code": lambda x: str(x),
                                           "Current code": lambda x: str(x),
                                           "SCED Course Code": lambda x: str(x),
                                           "SCED Code": lambda x: str(x)})

In [4]:
# Sheet containing crosswalks between past/current SCED codes
recode_df = sced_master_df["Recodes"]
recode_df.head()

,Initial code,Initial course name,Current code,Current course name
0,06039,Foreign Language—General,24039,World Language—General
1,06100,Spanish (prior-to-secondary),24050;\n24051,Spanish for Young Learners (prior-to-secondary...
2,06101,Spanish I,24052,Spanish I
3,06102,Spanish II,24053,Spanish II
4,06103,Spanish III,24054,Spanish III

In [5]:
# Sheet containing all SCED codes ever (inluding archived/changed)
sced_code_v7_df = sced_master_df["SCED Master List"]
sced_code_v7_df.head()

,SCED Course Code,Course Title,1.0 Status,Change from 1.0 to 2.0,Change from 2.0 to 3.0,Change from 3.0 to 4.0,Change from 4.0 to 5.0,Change from 5.0 to 6.0,Change from 6.0 to 7.0
0,01001,English/Language Arts I (9th grade),Original,No change,No change,No change,No change,No change,No change
1,01002,English/Language Arts II (10th grade),Original,No change,No change,No change,No change,No change,No change
2,01003,English/Language Arts III (11th grade),Original,No change,No change,No change,No change,No change,No change
3,01004,English/Language Arts IV (12th grade),Original,No change,No change,No change,No change,No change,No change
4,01005,AP English Language and Composition,Original,No change,No change,No change,No change,No change,No change

In [6]:
# Sheet containing code descriptions for archived codes
# These can be helpful for parsing additional crosswalks when not specified in the 'Recode' sheet
archived_df = sced_master_df["Archived"]
archived_df.head()

,Course Title,SCED Code,Course Description,Change Status
0,Exploration in Drama,05054,Exploration in Drama courses are now archived....,SCED 1.0 Archived Course
1,AP Studio Art—General Portfolio,05171,AP Studio Art—General Portfolio courses are no...,SCED 1.0 Archived Course
2,AP French Literature,06133,AP French Literature courses are no longer off...,SCED 1.0 Archived Course
3,AP Computer Science AB,10158,AP Computer Science AB courses are no longer o...,SCED 1.0 Archived Course
4,Forestry Harvesting,18503,Forestry Harvesting courses are now archived. ...,SCED 1.0 Archived Course

In [36]:
# Dataframe holding course titles and descriptions for active courses
# This will define the list of active courses
sced_info_df = pd.read_excel(sced_v7_file, 
                             sheet_name="SCED 7.0",
                             converters={"SCED Course Code": lambda x: str(x)})
sced_info_df = sced_info_df[~(sced_info_df["Change Status"] == "Archived Course")]
sced_info_df.head()

,Course Title,SCED Course Code,Course Description,Change Status
0,English/Language Arts I (9th grade),01001,English/Language Arts I (9th grade) courses bu...,No Change
1,English/Language Arts II (10th grade),01002,English/Language Arts II (10th grade) courses ...,No Change
2,English/Language Arts III (11th grade),01003,English/Language Arts III (11th grade) courses...,No Change
3,English/Language Arts IV (12th grade),01004,English/Language Arts IV (12th grade) courses ...,No Change
4,AP English Language and Composition,01005,Following the College Board’s suggested curric...,No Change

## Look to see how many codes are missing crosswalks to latest SCED version

In [37]:
total_codes = sced_code_v7_df["SCED Course Code"]
print("All codes: %s" % len(total_codes))

# Active v7 codes that haven't been archived
active_codes = sced_code_v7_df[~sced_code_v7_df["Change from 6.0 to 7.0"].isin(["Previously Archived", "Archived; code updated"])]["SCED Course Code"]
active_codes_final = sced_info_df["SCED Course Code"]
print("Active (v7 MasterList): %s" % len(active_codes))
print("Active (v7 FINAL): %s" % len(active_codes_final))
active_codes = active_codes_final
print("Expected number of crosswalks needed: %s" % (len(total_codes)-len(active_codes)))

# Archived codes as of v7
archived_codes = sced_code_v7_df[~sced_code_v7_df["SCED Course Code"].isin(active_codes)]["SCED Course Code"]
print("Total codes in spreadsheet marked as archived (should be == # expected crosswalks): %s" % len(archived_codes))

# Archived codes that have a crosswalk
crosswalked_codes = recode_df["Initial code"]
print("Archived codes that have a crosswalk: %s" % len(crosswalked_codes))
print("Expected missing crosswalk: %s" % (len(archived_codes) - len(crosswalked_codes)))

# Archived codes that have no crosswalk
missing_crosswalk_codes = archived_codes[~archived_codes.isin(crosswalked_codes)]
print("Actual # archived codes that don't have a crosswalk: %s" % len(missing_crosswalk_codes))

# Archived codes that have archive info that a crosswalk can be rescued from
archive_info_codes = archived_df["SCED Code"]
print("Archive codes with code description: %s" % len(archive_info_codes))

# Archived codes with no crosswalk but can possibly be rescued using archived description
missing_crosswalk_with_archive_info_codes = missing_crosswalk_codes[missing_crosswalk_codes.isin(archive_info_codes)]
print("# of archived codes with no crosswalks that could be rescued from code descriptions: %s" % len(missing_crosswalk_with_archive_info_codes))

# Archived codes we have no way to crosswalk at all because they don't have a crosswalk or an archived code description
missing_crosswalk_no_info_codes = missing_crosswalk_codes[~missing_crosswalk_codes.isin(archive_info_codes)]
print("# of archived codes with no way of cross-walking: %s" % len(missing_crosswalk_no_info_codes))

All codes: 2703
Active (v7 MasterList): 1734
Active (v7 FINAL): 1736
Expected number of crosswalks needed: 967
Total codes in spreadsheet marked as archived (should be == # expected crosswalks): 969
Archived codes that have a crosswalk: 760
Expected missing crosswalk: 209
Actual # archived codes that don't have a crosswalk: 209
Archive codes with code description: 478
# of archived codes with no crosswalks that could be rescued from code descriptions: 198
# of archived codes with no way of cross-walking: 11

In [15]:
# Write out info to files for data provenance
missing_crosswalk = sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(missing_crosswalk_codes)]
#missing_crosswalk.to_excel("../data/archived_courses_missing_crosswalk.xlsx", index=False)

missing_crosswalk_rescuable = archived_df[archived_df["SCED Code"].isin(missing_crosswalk_with_archive_info_codes)]
#missing_crosswalk_rescuable.to_excel("../data/archived_courses_missing_crosswalk_possible.xlsx", index=False)

missing_crosswalk_not_rescuable = sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(missing_crosswalk_no_info_codes)]
#missing_crosswalk_not_rescuable.to_excel("../data/archived_courses_crosswalk_impossible.xlsx", index=False)

In [16]:
# Take a look at courses that you have no way to crosswalk
# In current version (sced 7.0) it's just the grade-level Foreign language catch-all classes removed in SCED v2.0
missing_crosswalk_not_rescuable

,SCED Course Code,Course Title,1.0 Status,Change from 1.0 to 2.0,Change from 2.0 to 3.0,Change from 3.0 to 4.0,Change from 4.0 to 5.0,Change from 5.0 to 6.0,Change from 6.0 to 7.0
2599,56028,Foreign Language (early childhood education),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2600,56029,Foreign Language (pre-kindergarten),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2601,56030,Foreign Language (kindergarten),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2602,56031,Foreign Language (grade 1),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2603,56032,Foreign Language (grade 2),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2604,56033,Foreign Language (grade 3),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2605,56034,Foreign Language (grade 4),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2606,56035,Foreign Language (grade 5),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2607,56036,Foreign Language (grade 6),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2608,56037,Foreign Language (grade 7),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2609,56038,Foreign Language (grade 8),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived

## Parse and validate SCED code crosswalks

In [89]:
import re
import copy

class CrossWalkerInitError(BaseException):
    pass

class InvalidCrosswalkError(BaseException):
    pass
        
class CrossWalker:
    def __init__(self, active_codes, archived_codes):
        # List of latest active SCED codes
        self.active_codes = active_codes
        if isinstance(self.active_codes, pd.Series):
            self.active_codes = active_codes.tolist()
        # Strip for sanity
        self.active_codes = [code.strip() for code in self.active_codes]
        
        # List of archived SCED codes that need to be crosswalked
        self.archived_codes = archived_codes
        if isinstance(self.archived_codes, pd.Series):
            self.archived_codes = archived_codes.tolist()
        self.archived_codes = [code.strip() for code in self.archived_codes]
        
        # Make sure active/archived codes are mutually exclusive
        invalid_codes = [code for code in self.active_codes if code in self.archived_codes]
        if invalid_codes:
            raise CrossWalkerInitError("Invald CrossWalker! Codes can't be "
                                       "both archived and active: {0}".format(", ".join(invalid_codes)))
        
        # Initialize crosswalk with active codes pointing to themselves
        self.crosswalk = {active_code: [active_code] for active_code in active_codes}
        
        # Initialize empty crosswalks for archived codes that will be populated
        for archived_code in self.archived_codes:
            self.crosswalk[archived_code] = []
        self.archived_crosswalk = {}
        
    def add_crosswalk(self, archived_code, new_codes, strict=True, overwrite=False):
        # Add exiting crosswalk to current crosswalk
        
        # Raise error if you're trying to crosswalk a code that hasn't been archived
        if archived_code not in self.crosswalk:
            raise InvalidCrosswalkError("Cannot add crosswalk for code not found in list of archived"
                                       " codes: {0}".format(archived_code))
            
        # Raise error/warn if trying to overwrite active code (these can't be crosswalked)
        if archived_code in self.active_codes:
            err_msg = "Cannot add code {0} to crosswalk as it's already an active code!".format(archived_code)
            print(err_msg)
            if strict:
                raise InvalidCroswalkError(err_msg)
        
        # Return immediately if code already has a valid crosswalk and you don't want to overwrite
        if self.crosswalk[archived_code] and not overwrite:
            return
            
        # Convert to list if not already a list
        if not isinstance(new_codes, list):
            new_codes = [new_codes]
            
        # Check to make sure new codes list isn't empty
        # Handles cases when attempting to add crosswalk parsed from description and no SCEDs found
        if not new_codes:
            err_msg = "Empty crosswalk for archived code: {0}".format(archived_code)
            if not strict:
                # Print warning message and return if not strict, otherwise throw an error
                print(err_msg)
                return
            raise InvalidCrosswalkError(err_msg)
            
        # Validate that new codes are actually latest SCED version
        valid_codes = set()
        archived_codes = set()
        for code in new_codes:
            if code in self.active_codes:
                # Add code to crosswalk if it maps onto an active SCED code
                valid_codes.add(code.strip())
            elif code in self.archived_codes:
                # Add code to archived crosswalk if it maps onto archived SCED code
                # Will attempt to resue these later
                archived_codes.add(code.strip())
                    
        # Convert sets back into lists for easier manipulation
        valid_codes = list(valid_codes)
        archived_codes = list(archived_codes)
        if valid_codes:
            self.crosswalk[archived_code] = valid_codes
        elif archived_codes:
            self.archived_crosswalk[archived_code] = archived_codes
            print("Archived code {0} maps to another archived code(s): {1}".format(archived_code, 
                                                                                   ", ".join(new_codes)))
        else:
            # SCED code maps to an invalid code. Raise error or print warning. 
            err_msg = "Invalid code(s) in crosswalk for {0}: {1}".format(archived_code, 
                                                                         ", ".join(new_codes))
            if strict:
                raise InvalidCrosswalkError(err_msg)
            else:
                print(err_msg)
    
    def rescue_archived_codes(self):
        # Try to update archived SCED crosswalks to latest SCED code
        # E.g. archived code 72249 => archived code 22249 => active code 19299
        rescued = []
        for archived_code, new_codes in self.archived_crosswalk.items():
            rescued_codes = []
            for new_code in new_codes:
                rescued_codes += self.rescue_code(new_code)
            
            if rescued_codes:
                print("Rescued archived code {0} to point to active code(s): {1}".format(archived_code,
                                                                                         ", ".join(rescued_codes)))
                self.crosswalk[archived_code] = rescued_codes
                rescued.append(archived_code)
            else:
                print("Currently unable to rescue code: {0}".format(archived_code))
        
        for archived_code in rescued:
            self.archived_crosswalk.pop(archived_code)
    
    def rescue_code(self, archived_code):
        if archived_code in self.crosswalk:
            # Code can be rescued because it points to an active code in crosswalk
            return self.crosswalk[archived_code]
        
        if archived_code not in self.archived_crosswalk:
            # Code can't be rescued from current crosswalk or archived crosswalks
            return []
        
        # Recursively determine if any codes eventually map to an active code 
        valid_codes = []
        for mapped_code in self.archived_crosswalk[archived_code]:
            valid_codes += self.rescue_code(mapped_code)
        return list(set(valid_codes))
    
    @staticmethod
    def parse_crosswalk(new_code):
        # Parses crosswalked code field which sometimes contains multiple codes 
        return [x.strip().strip("\n") for x in new_code.split(";")]
    
    @staticmethod
    def parse_crosswalk_from_desc(code_desc, ):
        # Function for parsing valid codes from archived course descriptions
        # Used to handle courses that don't have a valid crosswalk in spreadsheet but who might have that info in desc
        # e.g. "This code is now archived; use code 24917."
    
        # Get all strings in description that match SCED regex
        return re.findall(r"\D(\d{5})\D", " "+code_desc+" ")
        
    def get_missing_codes(self):
        # Return list of archived codes that don't currently have a valid crosswalk
        return [x for x in self.archived_codes+self.active_codes if not self.crosswalk[x]] 
    
    def get_active_code_crosswalk(self):
        # Return crosswalk where keys are active codes that point to list of archived synonyms
        rev_crosswalk = {active_code: set([]) for active_code in self.active_codes}
        for archived_code, active_codes in self.crosswalk.items():
            if archived_code in self.active_codes:
                continue
            for active_code in active_codes:
                rev_crosswalk[active_code].add(archived_code)
        
        rev_crosswalk = {k:list(v) for k,v in rev_crosswalk.items()}
        
        err_msg = "Invalid reverse crosswalk contains {0} entries but there are {1} active codes in this crosswalk!".format(len(rev_crosswalk),
                                                                                                                            len(self.active_codes))
        assert len(rev_crosswalk) == len(self.active_codes), err_msg
        return rev_crosswalk

In [91]:
cw = CrossWalker(active_codes, archived_codes)

# Add crosswalks directly provided in the Recodes sheet 
curr_crosswalk = dict(zip(recode_df["Initial code"], recode_df["Current code"]))
for old_code, new_code in curr_crosswalk.items():
    cw.add_crosswalk(old_code, CrossWalker.parse_crosswalk(new_code))

# Add crosswalks parsed from descriptions of archived codes
curr_crosswalk = dict(zip(archived_df["SCED Code"], archived_df["Course Description"]))
for old_code, new_code in curr_crosswalk.items():
    cw.add_crosswalk(old_code, CrossWalker.parse_crosswalk_from_desc(new_code), strict=False)

# See if you can 
cw.rescue_archived_codes()
print(len(cw.crosswalk))
print(len(cw.archived_crosswalk))
print(cw.archived_crosswalk)

Archived code 52061 maps to another archived code(s): 02061
Archived code 55054 maps to another archived code(s): 05054
Archived code 58007 maps to another archived code(s): 08007
Archived code 72201 maps to another archived code(s): 22201
Archived code 72202 maps to another archived code(s): 22202
Archived code 72203 maps to another archived code(s): 22203
Archived code 72205 maps to another archived code(s): 22205
Archived code 72206 maps to another archived code(s): 22206
Archived code 72207 maps to another archived code(s): 22207
Archived code 72208 maps to another archived code(s): 22208
Archived code 72209 maps to another archived code(s): 22209
Archived code 72210 maps to another archived code(s): 22210
Archived code 72249 maps to another archived code(s): 22249
Archived code 06133 maps to another archived code(s): 06129, 06132
Empty crosswalk for archived code: 06028
Empty crosswalk for archived code: 06029
Empty crosswalk for archived code: 06030
Empty crosswalk for archived code: 06031
Empty crosswalk for archived code: 06032
Empty crosswalk for archived code: 06033
Empty crosswalk for archived code: 06034
Empty crosswalk for archived code: 06035
Empty crosswalk for archived code: 06036
Empty crosswalk for archived code: 06037
Empty crosswalk for archived code: 06038
Empty crosswalk for archived code: 06174
Empty crosswalk for archived code: 06190
Empty crosswalk for archived code: 06191
Empty crosswalk for archived code: 06192
Empty crosswalk for archived code: 06193
Empty crosswalk for archived code: 06250
Empty crosswalk for archived code: 06251
Empty crosswalk for archived code: 06252
Empty crosswalk for archived code: 06253
Empty crosswalk for archived code: 06270
Empty crosswalk for archived code: 06271
Empty crosswalk for archived code: 06272
Empty crosswalk for archived code: 06273
Empty crosswalk for archived code: 06291
Empty crosswalk for archived code: 06293
Empty crosswalk for archived code: 06454
Empty crosswalk for archived code: 06490
Empty crosswalk for archived code: 06491
Empty crosswalk for archived code: 06492
Empty crosswalk for archived code: 06493
Empty crosswalk for archived code: 06511
Empty crosswalk for archived code: 06514
Empty crosswalk for archived code: 06531
Empty crosswalk for archived code: 06534
Empty crosswalk for archived code: 06590
Empty crosswalk for archived code: 06591
Empty crosswalk for archived code: 06592
Empty crosswalk for archived code: 06593
Empty crosswalk for archived code: 06650
Empty crosswalk for archived code: 06651
Empty crosswalk for archived code: 06652
Empty crosswalk for archived code: 06653
Empty crosswalk for archived code: 06670
Empty crosswalk for archived code: 06671
Empty crosswalk for archived code: 06672
Empty crosswalk for archived code: 06673
Empty crosswalk for archived code: 06690
Empty crosswalk for archived code: 06691
Empty crosswalk for archived code: 06692
Empty crosswalk for archived code: 06693
Empty crosswalk for archived code: 06712
Empty crosswalk for archived code: 06715
Empty crosswalk for archived code: 06732
Empty crosswalk for archived code: 06771
Empty crosswalk for archived code: 06790
Empty crosswalk for archived code: 06791
Empty crosswalk for archived code: 06792
Empty crosswalk for archived code: 06793
Empty crosswalk for archived code: 06834
Empty crosswalk for archived code: 06850
Empty crosswalk for archived code: 06851
Empty crosswalk for archived code: 06852
Empty crosswalk for archived code: 06853
Empty crosswalk for archived code: 06870
Empty crosswalk for archived code: 06871
Empty crosswalk for archived code: 06872
Empty crosswalk for archived code: 06873
Empty crosswalk for archived code: 08007
Empty crosswalk for archived code: 08054
Empty crosswalk for archived code: 04066
Empty crosswalk for archived code: 04168
Empty crosswalk for archived code: 10017
Empty crosswalk for archived code: 10018
Empty crosswalk for archived code: 21020
Rescued archived code 52061 to point to active code(s): 02065, 02062, 02063, 02064
Rescued archived code 55054 to point to active code(s): 05052, 05051
Currently unable to rescue code: 58007
Rescued archived code 72201 to point to active code(s): 19251
Rescued archived code 72202 to point to active code(s): 19252
Rescued archived code 72203 to point to active code(s): 19254
Rescued archived code 72205 to point to active code(s): 19256
Rescued archived code 72206 to point to active code(s): 19257
Rescued archived code 72207 to point to active code(s): 19258
Rescued archived code 72208 to point to active code(s): 19259
Rescued archived code 72209 to point to active code(s): 19260
Rescued archived code 72210 to point to active code(s): 19262
Rescued archived code 72249 to point to active code(s): 19299
Rescued archived code 06133 to point to active code(s): 24110, 24114
2705
1
{'58007': ['08007']}

In [92]:
# Write file of things that failed to crosswalk
missing_codes = pd.Series(cw.get_missing_codes())
print("Total codes missing from crosswalk: %s" % len(missing_codes))
missing_codes_df = archived_df[archived_df["SCED Code"].isin(missing_codes)]
print("Toal codes missing from crosswalk that had code description: %s" % len(missing_codes_df))
missing_codes_df.to_excel("../data/archived_codes_no_SCED_parsed_from_description_2.xlsx", index=False)

Total codes missing from crosswalk: 87
Toal codes missing from crosswalk that had code description: 75

In [93]:
missing_no_desc_parsed_codes = missing_codes[~missing_codes.isin(missing_codes_df["SCED Code"])]
missing_codes_no_failed_desc = sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(missing_no_desc_parsed_codes)]
print("Total missing codes where description parsing wasn't possible: %s" % len(missing_codes_no_failed_desc))
missing_codes_no_failed_desc.to_excel("../data/archived_codes_no_SCED_or_description_2.xlsx", index=False)

Total missing codes where description parsing wasn't possible: 12

In [94]:
# Take a look at the reverse crosswalk to see if it makes sense
rev_crosswalk = cw.get_active_code_crosswalk()
print(len(rev_crosswalk))
codes_with_synonyms = {act_code: pd.Series(arch_codes) for act_code, arch_codes in rev_crosswalk.items() if len(arch_codes) > 0}
print(len(codes_with_synonyms))

1736
748

In [95]:
pd.DataFrame(codes_with_synonyms).transpose().tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12
24989,06879,06499,06859,06699,06359,06659,06599,06199,06799,06279,06759,06259,06679
24995,06995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24997,56997,06997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24998,06998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24999,06999,56999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
pd.DataFrame(codes_with_synonyms).transpose().head()

          0      1    2    3    4    5    6    7    8    9    10   11   12
01008  51008    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
01009  51009  51991  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
01010  51007    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
01026  51026    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
01027  51027    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

## Create course information lookup table

In [142]:
class CourseRecordMaker:
    def __init__(self, crosswalk):
        self.crosswalk = crosswalk
        self.archive_crosswalk = crosswalk.crosswalk
        self.active_crosswalk = crosswalk.get_active_code_crosswalk()
        
    def get_course_record(self, code, title=None, desc=None, not_crosswalked=False):
        if code not in self.crosswalk.active_codes and code not in self.crosswalk.archived_codes:
            raise IOError("Code {0} isn't found in archived or active codes!".format(code))
        
        # Whether code is active or archived
        is_archived = code in self.crosswalk.archived_codes
        
        # Strip any whitespace
        code = code.strip()
        title = title.strip() if title is not None else title
        desc = desc.strip() if desc is not None else desc
        warnings = None
        
        # Include special warning for small subset of archived codes that couldn't be crosswalked
        if is_archived and not self.archive_crosswalk[code]:
            warnings = "Archived SCED code could not be crosswalked to current SCED version!"
    
        record = {"sced_code": code,
                  "course_title": title,
                  "course_description": desc,
                  "archive_status": is_archived,
                  "warnings": warnings}
        
        record["v7_substitutes"] = self.archive_crosswalk[code] if is_archived else []
        record["archived_versions"] = self.active_crosswalk[code] if not is_archived else []
        return record

### Create lookup tables for active codes first

In [143]:
# Initialize instance of CourseRecordMaker to generate course records for courses based on crosswalk info
record_maker = CourseRecordMaker(cw)

# Gather active course info 
code_info = {}

# Gather active course info
for course_info in sced_info_df.to_dict(orient="records"):
    code = course_info["SCED Course Code"]
    title = course_info["Course Title"]
    desc = course_info["Course Description"]
    if code in code_info:
        raise IOError("Duplicate code in code info: {0}".format(code))
    
    # Generate course code data entry
    info = record_maker.get_course_record(code, title, desc)
    
    # Quick sanity check because we know all these courses should be active (archive_status==False)
    if info["archive_status"] == True:
        raise IOError("Active code returned bad archive status {0}".format(code))
    code_info[code] = info

In [144]:
assert len(code_info) == len(active_codes)

In [145]:
pd.DataFrame(code_info).transpose().tail()

,archive_status,archived_versions,course_description,course_title,sced_code,v7_substitutes,warnings
24989,False,"[06879, 06499, 06859, 06699, 06359, 06659, 065...",Other courses specific to a world language not...,World Language (Other Language)—Other,24989,[],None
24995,False,[06995],World Language and Literature—Aide courses off...,World Language and Literature—Aide,24995,[],None
24997,False,"[56997, 06997]",World Language and Literature—Independent Stud...,World Language and Literature—Independent Study,24997,[],None
24998,False,[06998],World Language and Literature—Workplace Experi...,World Language and Literature—Workplace Experi...,24998,[],None
24999,False,"[06999, 56999]",Other World Language and Literature courses.,World Language and Literature—Other,24999,[],None

In [146]:
pd.DataFrame(code_info).transpose().head(25)

,archive_status,archived_versions,course_description,course_title,sced_code,v7_substitutes,warnings
01001,False,[],English/Language Arts I (9th grade) courses bu...,English/Language Arts I (9th grade),01001,[],None
01002,False,[],English/Language Arts II (10th grade) courses ...,English/Language Arts II (10th grade),01002,[],None
01003,False,[],English/Language Arts III (11th grade) courses...,English/Language Arts III (11th grade),01003,[],None
01004,False,[],English/Language Arts IV (12th grade) courses ...,English/Language Arts IV (12th grade),01004,[],None
01005,False,[],Following the College Board’s suggested curric...,AP English Language and Composition,01005,[],None
01006,False,[],Following the College Board’s suggested curric...,AP English Literature and Composition,01006,[],None
01007,False,[],IB Language A: Literature—English courses prep...,IB Language A: Literature—English,01007,[],None
01008,False,[51008],English as a Second Language (ESL) courses are...,English as a Second Language,01008,[],None
01009,False,"[51009, 51991]",Language Arts Laboratory courses provide instr...,Language Arts Laboratory,01009,[],None
01010,False,[51007],International Baccalaureate (IB) Language A (E...,"IB Language A (English), Middle Years Program",01010,[],None
01011,False,[],IB Language A: Language and Literature—English...,IB Language A: Language and Literature—English,01011,[],None
01012,False,[],IB Literature and Performance courses prepare ...,IB Literature and Performance,01012,[],None
01026,False,[51026],Language Arts (early childhood education) cour...,Language Arts (early childhood education),01026,[],None
01027,False,[51027],Language Arts (pre-kindergarten) courses devel...,Language Arts (pre-kindergarten),01027,[],None
01028,False,[51028],Language Arts (kindergarten) courses engage st...,Language Arts (kindergarten),01028,[],None
01029,False,[51029],Language Arts (grade 1) courses include the fo...,Language Arts (grade 1),01029,[],None
01030,False,[51030],Language Arts (grade 2) courses include the fo...,Language Arts (grade 2),01030,[],None
01031,False,[51031],Language Arts (grade 3) courses include the fo...,Language Arts (grade 3),01031,[],None
01032,False,[51032],Language Arts (grade 4) courses include the fo...,Language Arts (grade 4),01032,[],None
01033,False,[51033],Language Arts (grade 5) courses include the fo...,Language Arts (grade 5),01033,[],None
01034,False,[51034],Language Arts (grade 6) courses build upon stu...,Language Arts (grade 6),01034,[],None
01035,False,[51035],Language Arts (grade 7) courses build upon stu...,Language Arts (grade 7),01035,[],None
01036,False,[51036],Language Arts (grade 8) courses build upon stu...,Language Arts (grade 8),01036,[],None
01037,False,[51037],Language Arts—General courses involve content ...,Language Arts—General,01037,[],None
01038,False,[51038],Reading (early childhood education) courses de...,Reading (early childhood education),01038,[],None

In [169]:
def make_crosswalk_df(df, colname_map):
    
    # Check colname map contains right columns
    colname_order = ["archived_code", "active_code", "course_name",  "course_desc"]
    for col in colname_order:
        if col not in colname_map:
            raise IOError("Colname map must include mapping for required column: {0}".format(col))
            
    # Check that columns actually exist in data frame
    for new_col, old_col in colname_map.items():
        if old_col is not None and old_col not in df.columns:
            raise IOError("Invalid '{0}' mapping! '{1}' doesn't appear in dataframe!".format(new_col, 
                                                                                           old_col))
    
    present_cols = [colname_map[col] for col in colname_order if colname_map[col] is not None]
    # Subset to include only required columns
    cw_df = df[present_cols].copy()
    
    # Rename columns to standard names
    cw_df.columns = [col for col in colname_order if colname_map[col] is not None]
    
    # Add missing columns
    missing_cols = [col for col in colname_order if colname_map[col] is None]
    for missing_col in missing_cols:
        cw_df[missing_col] = None
        
    # Reorder
    return cw_df[colname_order]

In [176]:
recode_colname_map = {"archived_code": "Initial code", 
                      "active_code": "Current code",
                      "course_name": "Initial course name",
                      "course_desc": None}

archived_colname_map = {"archived_code": "SCED Code", 
                        "active_code": None,
                        "course_name": "Course Title",
                        "course_desc": "Course Description"}

null_colname_map =   {"archived_code": "SCED Course Code", 
                      "active_code": None,
                      "course_name": "Course Title",
                      "course_desc": None}

active_colname_map = {"archived_code": None, 
                      "active_code": "SCED Course Code",
                      "course_name": "Course Title",
                      "course_desc": "Course Description"}

missing_to_load = sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(missing_crosswalk_no_info_codes)].copy()
make_crosswalk_df(recode_df, recode_colname_map)
make_crosswalk_df(archived_df, archived_colname_map)
make_crosswalk_df(missing_to_load, null_colname_map)
make_crosswalk_df(sced_info_df, active_colname_map)

,archived_code,active_code,course_name,course_desc
0,None,01001,English/Language Arts I (9th grade),English/Language Arts I (9th grade) courses bu...
1,None,01002,English/Language Arts II (10th grade),English/Language Arts II (10th grade) courses ...
2,None,01003,English/Language Arts III (11th grade),English/Language Arts III (11th grade) courses...
3,None,01004,English/Language Arts IV (12th grade),English/Language Arts IV (12th grade) courses ...
4,None,01005,AP English Language and Composition,Following the College Board’s suggested curric...

In [156]:



recode_to_load = recode_df[["Initial code", "Current code", "Initial course name"]].copy()
recode_to_load["course_desc"] = None
recode_to_load.columns = ["archived_code", "active_code", "course_name",  "course_desc"]
print(len(recode_to_load))

760

In [ ]:
archived_to_load = archived_df[["SCED Code", "Course Title", "Course Description"]].copy()
archived_to_load["active_code"] = None
archived_to_load.columns = ["archived_code", "course_name",  "course_desc", "active_code"]
archived_to_load = archived_to_load[["archived_code", "active_code", "course_name",  "course_desc"]]

In [ ]:
recode_to_load = recode_df[["Initial code", "Initial course name", "Current code"]].copy()


missing_to_load = sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(missing_crosswalk_no_info_codes)].copy()
missing_to_load = missing_to_load[["SCED Course Code", "Course Title"]]

### Now create for recoded/archived codes

In [147]:
# Parse course information for recoded courses in MasterList file
code_info = {}
for course_info in recode_df.to_dict(orient="records"):
    code = course_info["Initial code"]
    title = course_info["Initial course name"]
    if code in code_info:
        raise IOError("Duplicate code in code info: {0}".format(code))
        
    # Generate course code data entry
    info = record_maker.get_course_record(code, title=title)
    
    # Quick sanity check because we know all these courses should be archived (archive_status==True)
    if info["archive_status"] == False:
        raise IOError("Archive code returned bad archive status {0}".format(code))
    code_info[code] = info


# Parse course information for archived courses in MasterList file
for course_info in archived_df.to_dict(orient="records"):
    code = course_info["SCED Code"]
    title = course_info["Course Title"]
    desc = course_info["Course Description"]
        
    # Generate course code data entry
    info = record_maker.get_course_record(code, title, desc)
    
    # Quick sanity check because we know all these courses should be archived (archive_status==True)
    if info["archive_status"] == False:
        raise IOError("Archive code returned bad archive status {0}".format(code))
    code_info[code] = info
    
# Parse info for courses that had neither
remaining = sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(missing_crosswalk_no_info_codes)]
for course_info in remaining.to_dict(orient="records"):
    code = course_info["SCED Course Code"]
    title = course_info["Course Title"]
print(len(code_info))

958

In [148]:
code_info["58007"]

{'sced_code': '58007',
 'course_title': 'Adapted Physical Education',
 'course_description': None,
 'archive_status': True,
 'warnings': 'Archived SCED code could not be crosswalked to current SCED version!',
 'v7_substitutes': [],
 'archived_versions': []}

In [150]:
miss = [x for x in archived_codes if x not in code_info]
#miss = archived_codes[~archived_codes.isin(ap)]
sced_code_v7_df[sced_code_v7_df["SCED Course Code"].isin(miss)]

,SCED Course Code,Course Title,1.0 Status,Change from 1.0 to 2.0,Change from 2.0 to 3.0,Change from 3.0 to 4.0,Change from 4.0 to 5.0,Change from 5.0 to 6.0,Change from 6.0 to 7.0
2599,56028,Foreign Language (early childhood education),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2600,56029,Foreign Language (pre-kindergarten),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2601,56030,Foreign Language (kindergarten),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2602,56031,Foreign Language (grade 1),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2603,56032,Foreign Language (grade 2),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2604,56033,Foreign Language (grade 3),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2605,56034,Foreign Language (grade 4),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2606,56035,Foreign Language (grade 5),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2607,56036,Foreign Language (grade 6),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2608,56037,Foreign Language (grade 7),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived
2609,56038,Foreign Language (grade 8),Existed in pSCED,Archived; code updated,Previously archived,Previously archived,Previously archived,Previously Archived,Previously Archived

In [109]:
recode_df.head().to_dict(orient="records")

[{'Initial code': '06039',
  'Initial course name': 'Foreign Language—General',
  'Current code': '24039',
  'Current course name': 'World Language—General'},
 {'Initial code': '06100',
  'Initial course name': 'Spanish (prior-to-secondary)',
  'Current code': '24050;\n24051',
  'Current course name': 'Spanish for Young Learners (prior-to-secondary);\nSpanish Immersion (prior-to-secondary)'},
 {'Initial code': '06101',
  'Initial course name': 'Spanish I ',
  'Current code': '24052',
  'Current course name': 'Spanish I '},
 {'Initial code': '06102',
  'Initial course name': 'Spanish II ',
  'Current code': '24053',
  'Current course name': 'Spanish II '},
 {'Initial code': '06103',
  'Initial course name': 'Spanish III ',
  'Current code': '24054',
  'Current course name': 'Spanish III '}]

In [283]:
sced_code_v7_df[~(sced_code_v7_df["SCED Course Code"].isin(sced_active_info["SCED Course Code"])) &
                sced_code_v7_df["SCED Course Code"].isin(active_codes)]

,SCED Course Code,Course Title,1.0 Status,Change from 1.0 to 2.0,Change from 2.0 to 3.0,Change from 3.0 to 4.0,Change from 4.0 to 5.0,Change from 5.0 to 6.0,Change from 6.0 to 7.0
161,02139,IB Mathematics: Applications and Interpretation,Did not exist,Did not exist,Did not exist,Did not exist,Did not exist,Did not exist,New
162,02140,IB Mathematics: Analysis and Approaches,Did not exist,Did not exist,Did not exist,Did not exist,Did not exist,Did not exist,New